<div class="skills">
    <span class="flex">
        <h2 style="text-align: center;  font-size: 1.5rem;" class="title">Hard Skills</h2>
    </span>
    <div class="habilidades">
        <div class="back">
            <span class="logo-items"><img class="img" alt="python img" src="./assets/python.png"></span><!--../../../../assets/python.png-->
            <span class="logo-items"><img class="img-java" src="./assets/java.png"></span>
            <span class="logo-items"><img class="img" alt="django img" src="./assets/django.png"></span>
            <span class="logo-items"><img class="img" alt="javascript" src="./assets/logo-javascript-1024.png"></span>
            <span class="logo-items"><img class="img-java" src="./assets/spring-boot.png"></span>
        </div>
        <div class="front">
            <span class="logo-items"><img class="img" src="./assets/css3.png"></span>
            <span class="logo-items"><img class="img" src="./assets/html5.png"></span>
            <span class="logo-items"><img class="img" src="./assets/logo-angular-jpg.png"></span>
            <span class="logo-items"><img class="img" src=""></span>
        </div>
    </div>
</div>
<mat-tab-group mat-stretch-tabs="false" color="primary" mat-align-tabs="start">
    <mat-tab label="Projeto 1">
        <mat-card>
            <mat-card-title class="sub-title">Cadastro de Clientes</mat-card-title>
            <mat-card-subtitle class="sub-title">Este projeto consiste em o usuario se cadastrar caso não tenha conta e 
                logar caso tenha. é permitido cadastrar só quem tem o perfil ADMIN. quando o usuario se autentica, 
                é gerado um token jwt para que ele possa ter acesso a alguns recursos.
            </mat-card-subtitle>
            <button mat-button color="primary"><a href="https://github.com/wesleymelomota/sistema_de_cadastro">Projeto sistema de cadastro</a></button>
            <div class="container">
                <mat-card class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina Inicial</mat-card-title>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (7).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina de login</mat-card-title>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (8).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Formulario para criar usuario</mat-card-title>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (9).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Lista de Clientes</mat-card-title>
                      <mat-card-subtitle>Para chegar aqui, só estando logado.
                      </mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (10).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Formulario de alterar cliente</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (11).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Formulario de deletar cliente</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (12).png">
                </mat-card>
                
            </div>
        </mat-card>
    </mat-tab>
    
    <mat-tab label="Projeto 2">
        <mat-card>
            <mat-card-header style="display: block;">
                <mat-card-title class="sub-title">E-Commerce</mat-card-title>
                <mat-card-subtitle class="sub-title">
                    <p>Esse projeto tem pagina de administrador que é reponsavel por cadastrar o produto. Tem acesso aos  
                        pedidos e pode visualizar e excluir usuarios do sistema.</p>
                    <p>
                        O usuário pode se cadastrar para comprar um produto. 
                    </p>
                    <p>O usuário pode adicionar produto ao carrinho</p>
                    <p>Após a compra, o usuario receberá um e-mail de confirmação.</p>

                </mat-card-subtitle>
                <h4 style="font-size: 0.90rem;">linguagem e tecnologia utilizada:</h4>
                <ul>
                    <li>Java</li>
                    <li>Spring Boot</li>
                    <li>Angular 9</li>
                    <li>BootStrap</li>
                    <li>MySql</li>
                </ul>
                <label>Link:</label><button mat-button color="primary"><a href="https://github.com/wesleymelomota/frontend-e-commerce">Projeto E-Commerce</a></button>
                <p>Obs: imagens e preço dos produtos são fictícios 😊 </p>
            </mat-card-header>
            <div class="container">
                <mat-card class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina Inicial</mat-card-title>
                      <mat-card-subtitle>aqui o usuário não precisa esta logado</mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-1.png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina Inicial</mat-card-title>
                      <mat-card-subtitle>aqui o usuário esta logado. quando esta logado o icon carrinho de compra fica visivel</mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-6.png">
                </mat-card>
                
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina de Login</mat-card-title>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-3.png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina detalhe do produto</mat-card-title>
                      <mat-card-subtitle>
                        <p>Aqui o usuário pode acessar sem esta autenticado.</p>
                        <p>Para 
                        acrescentar um produto ao carrinho ou comprar precisa esta autenticado.</p>
                      </mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-4.png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina Criar conta</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-5.png">
                </mat-card>
                
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Carrinho de Compra</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-7.png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Comprar os itens do carrinho</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-8.png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Alterar informações da conta</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-9.png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina de manutenção do site</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-10.png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Formulario Criar Produto</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/ecommerce-11.png">
                </mat-card>
                
            </div>
        </mat-card>
    </mat-tab>
    
</mat-tab-group>
