<div class="skills">
    <span class="flex">
        <h2 style="text-align: center;  font-size: 1.5rem;" class="title">Hard Skills</h2>
    </span>
    <div class="habilidades">
        <div class="back">
            <span class="logo-items"><img class="img" alt="python img" src="./assets/python.png"></span><!--../../../../assets/python.png-->
            <span class="logo-items"><img class="img-java" src="./assets/java.png"></span>
            <span class="logo-items"><img class="img" alt="django img" src="./assets/django.png"></span>
            <span class="logo-items"><img class="img" alt="javascript" src="./assets/logo-javascript-1024.png"></span>
            <span class="logo-items"><img class="img-java" src="./assets/spring-boot.png"></span>
        </div>
        <div class="front">
            <span class="logo-items"><img class="img" src="./assets/css3.png"></span>
            <span class="logo-items"><img class="img" src="./assets/html5.png"></span>
            <span class="logo-items"><img class="img" src="./assets/logo-angular-jpg.png"></span>
            <span class="logo-items"><img class="img" src=""></span>
        </div>
    </div>
</div>
<mat-tab-group mat-stretch-tabs="false" color="primary" mat-align-tabs="start">
    <mat-tab label="Projeto 1">
        <mat-card>
            <mat-card-title class="sub-title">Projeto cadastro de clientes</mat-card-title>
            <mat-card-subtitle class="sub-title">Este projeto consiste em o usuario se cadastrar caso não tenha conta e 
                logar caso tenha. é permitido cadastrar só quem tem o perfil ADMIN. quando o usuario se autentica, 
                é gerado um token jwt para que ele possa ter acesso a alguns recursos.
            </mat-card-subtitle>
            <button mat-button color="primary"><a href="https://github.com/wesleymelomota/sistema_de_cadastro">Link: Projeto sistema de cadastro</a></button>
            <div class="container">
                <mat-card class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina Inicial</mat-card-title>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (7).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Pagina de login</mat-card-title>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (8).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Formulario para criar usuario</mat-card-title>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (9).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Lista de Clientes</mat-card-title>
                      <mat-card-subtitle>Para chegar aqui, só estando logado.
                      </mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (10).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Formulario de alterar cliente</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (11).png">
                </mat-card>
                <mat-card  class="container-item">
                    <mat-card-header>
                      <mat-card-title>Formulario de deletar cliente</mat-card-title>
                      <mat-card-subtitle></mat-card-subtitle>
                    </mat-card-header>
                    <img class="img-proj" src="./assets/projeto1/Captura de Tela (12).png">
                </mat-card>
                
            </div>
        </mat-card>
    </mat-tab>
    
</mat-tab-group>
