<header class="header">
    <div class="title">
        <span>
            <h1 style="text-align: center; ">Wesley Melo Mota  <img class="img-logo" src="./assets/code.png"></h1>
            <h3 style="text-align: center; ">Desenvolvedor Full-stack Java</h3>
        </span>
        <span class="content-img">
            <img alt="minha foto" class="img" src="./assets/foto-perfil.jpg"><!--../../../../assets/foto-perfil.jpg-->
        </span>
        <div class="contato">
            <span>
                
                <button mat-button color="basic"><a href="https://linkedin.com/in/wesley-melo-mota">Linkedin</a></button>
            </span>
            
            <span>
                <button mat-button color="basic"><a href="https://github.com/wesleymelomota">GitHub</a></button>
            </span>
        </div>
    </div>
    <div class="sobre">
        <mat-card  class="glass" >
            <mat-card-title>Sobre o desenvolvedor</mat-card-title>
            <p class="font-size">Meu nome é wesley e tenho 27 anos. estou cursando análise e desenvolvimento de sistemas pela universidade Unicesumar.</p>
            <p class="font-size">E sobre mim eu Sou curioso, gosto de apreder, gosto de desafios, me considero muito persistente e gosto de 
                resolver problemas.
            </p>
            <p class="font-size">
                Meu primeiro contato com programação foi através da linguagem python.
                foi através do python que eu me interessei pelo mundo tech. tenho como foco desenvolvimento web.
            </p>
            <p class="font-size">
                Tenho conhecimento em python, django, java, spring boot, javaScript, angular 9, html, css, git e banco de dados.
            </p>
            
            <p class="font-size">
                Desenvolvo projeto web usando o padrão MVC ou no caso de utilizar django, MVT.
                mas se preferir uma aplicação desacoplada eu posso desenvolver uma api rest.
            </p>
            <p class="font-size">
               Para desenvolver meus projetos, utilizarei a metodologia scrum.
            </p>
            
            
        </mat-card>
    </div>
</header>

