<header class="header">
    <div class="title">
        <span>
            <h1 style="text-align: center; ">Wesley Melo Mota  <img class="img-logo" src="../../../../assets/code.png"></h1>
            <h3 style="text-align: center; ">Desenvolvedor Full-stack Java</h3>
        </span>
        <span class="content-img">
            <img alt="minha foto" class="img" src="../../../../assets/foto-perfil.jpg">
        </span>
        <div class="contato">
            <span>
                
                <button mat-button color="basic"><a href="https://linkedin.com/in/wesley-melo-mota">Linkedin</a></button>
            </span>
            
            <span>
                <button mat-button color="basic"><a href="https://github.com/wesleymelomota">GitHub</a></button>
            </span>
        </div>
    </div>
    <div class="sobre">
        <mat-card  class="glass">
            <mat-card-title>Sobre o desenvolvedor</mat-card-title>
            <p>Meu nome é wesley e tenho 27 anos. estou cursando análise e desenvolvimento de sistemas.</p>
            <p>Sou curioso, gosto de apreder e gosto de desafios. não desisto no primeiro fracasso. gosto de 
                resolver problemas.
            </p>
            <p>
                Aprendi programação através de cursos e documentações.
                
            </p>
            <p>
                Tenho conhecimento em python, django, java, spring boot, javaScript, angular 9, html, css, git e banco de dados.
            </p>
            <p>Trabalho com java, spring boot e angular.</p>
            <p>
                Tenho habilidade em desenvolver Api e interface de usuario. 
                para desenvolver a API, utilizarei spring boot ou django e para interface, angular.
            </p>
            <p>
               E para desempenho no desenvolvimento do projeto Utilizarei a metodologia Scrum.
            </p>
            
            
        </mat-card>
    </div>
</header>

